<div class="movie-data">
  <div class="img-wrapper">
    <a routerLink="/movieDetails/{{movieData.id}}">
      <img *ngIf="movieData.backdrop_path" src="http://image.tmdb.org/t/p/w500/{{movieData.backdrop_path}}" alt="Movie Poster" />
    </a>  
    <div *ngIf="!movieData.backdrop_path" class="no-poster">
      No Poster Available
    </div>
    <div *ngIf="!userView" class="user-list">
      <a (click)="onMarkAsFav($event, movieData)"><span class="fa fa-heart" [ngClass]="{'selected': isFav}"></span></a>
      <a href="#" (click)="onAddToList($event, movieData)"><span class="fa fa-bookmark" [ngClass]="{'selected': isWatchList}"></span></a>
    </div>
  </div>
  <div class="detail">
    <h3>{{movieData.original_title}}</h3>
    <p>
      <span><span class="fa fa-calendar"></span>{{movieData.release_date | date:'y'}}</span>
      <span>{{movieData.vote_average | number:'1.1-1'}} <span class="fa fa-star"></span></span>
    </p>
    <p><a routerLink="/movieDetails/{{movieData.id}}">More Info</a></p>
    <span class="btn btn-sm btn-outline-warning" *ngFor='let genre of movieGenres' [ngClass]="{'selected': genre.selected}">{{genre.name}}</span>


    <div class="user-list user-view" *ngIf="userView === 'favorite'">
      <a (click)="onMarkAsFav($event, movieData)" title="Remove From List"><span class="fa fa-heart" [ngClass]="{'selected': isFav}"></span></a>
    </div>

    <div class="user-list user-view" *ngIf="userView === 'watchList'">
      <a href="#" (click)="onAddToList($event, movieData)" title="Remove From List"><span class="fa fa-bookmark" [ngClass]="{'selected': isWatchList}"></span></a>
    </div>

    <!-- <div *ngIf="userView" class="user-list user-view">
      <a (click)="onMarkAsFav($event, movieData)"><span class="fa fa-heart" [ngClass]="{'selected': isFav}"></span></a>
      <a href="#" (click)="onAddToList($event, movieData)"><span class="fa fa-bookmark" [ngClass]="{'selected': isWatchList}"></span></a>
    </div> -->
  </div>
</div>
