<div class="menu-Items">
  <nav class="navbar navbar-inverse">
    <li class="menu-item">
      <a href="/" style="background: rgb(0, 0, 0); color: rgb(255, 92, 0); border-radius: 5px;">Home</a>
    </li>
    <li class="menu-item">
      <a href="/movies">All Movies</a>
    </li>
    <li class="menu-item">
      <a href="/latest">Latest</a>
    </li>
    <li class="menu-item">
      <a href="/popular">Popular</a>
    </li>
    <li class="menu-item">
      <a href="/upComing">Up Coming</a>
    </li>
  </nav>
</div>
