$black: #000;
$gray: #ccc;
$dullBlack: #373a3c;
$orange: #f0ad4e;
.home {
  border: 1px solid $dullBlack;
  margin-top: 0;
  margin-top: 3rem;
  padding: 0;
  text-align:center;
  height: 80vh;
  min-height: 80vh;
  .header {
    color: $orange;
    height:40px;
    background: $black;
    padding: .3rem 1rem;
  }
  .container {
    padding: 0;
  }
  .poster {
    padding: 0;
  }
  img {
    margin: 0 auto;
    display: block;
  }
  p {
    margin-bottom: 0;
  }
}
